:root {
    --primary-white-color: #fff;
    --primary-dark-color: #000;
    --primary-color: #08090b;
    --secondary-color: #f1d047;
    --font-family-base: "Plus Jakarta Sans", sans-serif;
    --image-max-width: 100%;
    --base-border-color: #fff;

    // Button
    --button--toggle-lines-color: #fff;

    // Topics
    --topics-column-big-width: 55%;
}