.welcome {
    padding: 20px 0px;
    @include respond-to("lg") {
        padding: 40px 0;
    }
    @include respond-to("xlg") {
        padding: 56px 0;
    }
    figure {
        margin: 0;
    }
    &-image {
        position: relative;
        margin-bottom: 28px;
        img {
            width: 100%;
        }
    }
    &-content {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        bottom: 23px;
        text-align: center;
        max-width: 1200px;
        margin: 0 auto;
        h1 {
            font-weight: 800;
            line-height: 1.26;
            font-size: 32px;
            @include respond-to("lg") {
                font-size: 50px;
                letter-spacing: 5px;
            }
            @include respond-to("xlg") {
                font-size: 96px;
                letter-spacing: 38px;
            }
        }
        p {
            font-weight: 500;
            line-height: 1.27;
            font-size: 18px;
            @include respond-to("md") {
                font-size: 26px;
            }
        }
    }
    .carousel {
        .carousel__slide--active {
            border: 3px solid var(--secondary-color);
        }
        &__prev, &__next {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--secondary-color);
            color: var(--primary-dark-color);
            @include respond-to("lg") {
                width: 72px;
                height: 72px;
            }
        }
        &__prev {
            left: 20px;
            @include respond-to("lg") {
                left: 8.3%;
            }  
        }
        &__next {
            right: 20px;
            @include respond-to("lg") {
                right: 8.3%;
            }  
        }
    }
}